# Práctica 2

### Vicente Marhuenda, Miguel Sánchez

## Datos

In [ ]:
pip install feather-format

In [8]:
feather?

Procedemos a cargar los datos del archivo feather,

In [51]:
# leemos los datos que ya estan preprocesados
import pyarrow
import feather
import pandas as pd
import numpy as np
disp_22=feather.read_dataframe("/Users/miguel/Desktop/Aprendizaje Automático/disp_22.feather")

In [20]:
print(disp_22)

          salida  apcp_sf1_1  apcp_sf2_1  apcp_sf3_1  apcp_sf4_1  dlwrf_s1_1  \
0     10541700.0           1    0.000000         0.0           1  246.856309
1      4647300.0           1    0.010909         0.0           1  272.998596
2      7256400.0           1    0.000000         0.0           1  210.643638
3     10578600.0           1    0.000000         0.0           1  233.408503
4     10718100.0           1    0.000000         0.0           1  234.799111
...          ...         ...         ...         ...         ...         ...
4375   9841500.0           1    0.496364         0.0           1  271.805015
4376  10940400.0           1    0.000000         0.0           1  246.823819
4377  11273400.0           1    0.000000         0.0           1  275.082528
4378   9367800.0           1    0.000000         0.0           1  263.043868
4379  10616700.0           1    0.000000         0.0           1  267.385348

      dlwrf_s4_1  dlwrf_s5_1  dswrf_s1_1  dswrf_s2_1  ...  tmp_sfc1_1  \
0              1  258.922896           1   20.000000  ...  275.987468
1              2  306.292719           1   17.272727  ...  282.917995
2              1  258.749222           1   20.000000  ...  266.578508
3              1  234.622230           1   20.000000  ...  271.652039
4              1  277.391008           1   20.000000  ...  272.005884
...          ...         ...         ...         ...  ...         ...
4375           2  294.825229           1   16.363636  ...  279.782451
4376           2  271.886746           1   20.000000  ...  274.470600
4377           2  281.260479           1   20.000000  ...  278.222140
4378           2  291.805903           1   20.000000  ...  277.899064
4379           2  281.268957           1   20.000000  ...  278.778786

      ulwrf_t3_1  ulwrf_t4_1  uswrf_s1_1  dswrf_s5_1  pres_ms4_1  tmax_2m2_1  \
0     245.123907         0.0         0.0        blue        blue        blue
1     248.759998         0.0         0.0         red        blue        blue
2     218.298932         0.0         0.0       green        blue         red
3     237.125845         0.0         0.0        blue       green        blue
4     229.589168         0.0         0.0        blue         red        blue
...          ...         ...         ...         ...         ...         ...
4375  210.234385         0.0         0.0         red        blue        blue
4376  243.607801         0.0         0.0        blue        blue        blue
4377  248.759998         0.0         0.0        blue        blue        blue
4378  261.981312         0.0         0.0        blue         red        blue
4379  244.065235         0.0         0.0        blue        blue        blue

      tmp_sfc5_1  ulwrf_s4_1  ulwrf_t5_1
0           blue         red        blue
1           blue         red        blue
2           blue        blue        blue
3            red         red        blue
4           blue         red        blue
...          ...         ...         ...
4375        blue         red        blue
4376        blue        blue        blue
4377        blue        blue       green
4378        blue        blue        blue
4379        blue        blue        blue

[4380 rows x 76 columns]

In [85]:
disp_22=pd.read_feather("/Users/miguel/Desktop/Aprendizaje Automático/disp_22.feather")
disp_22.head()

,salida,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,dlwrf_s1_1,dlwrf_s4_1,dlwrf_s5_1,dswrf_s1_1,dswrf_s2_1,...,tmp_sfc1_1,ulwrf_t3_1,ulwrf_t4_1,uswrf_s1_1,dswrf_s5_1,pres_ms4_1,tmax_2m2_1,tmp_sfc5_1,ulwrf_s4_1,ulwrf_t5_1
0,10541700.0,1,0.000000,0.0,1,246.856309,1,258.922896,1,20.000000,...,275.987468,245.123907,0.0,0.0,blue,blue,blue,blue,red,blue
1,4647300.0,1,0.010909,0.0,1,272.998596,2,306.292719,1,17.272727,...,282.917995,248.759998,0.0,0.0,red,blue,blue,blue,red,blue
2,7256400.0,1,0.000000,0.0,1,210.643638,1,258.749222,1,20.000000,...,266.578508,218.298932,0.0,0.0,green,blue,red,blue,blue,blue
3,10578600.0,1,0.000000,0.0,1,233.408503,1,234.622230,1,20.000000,...,271.652039,237.125845,0.0,0.0,blue,green,blue,red,red,blue
4,10718100.0,1,0.000000,0.0,1,234.799111,1,277.391008,1,20.000000,...,272.005884,229.589168,0.0,0.0,blue,red,blue,blue,red,blue

## EDA

Este primer análisis EDA, nos dirá el número de variables numéricas y categóricas, ya que no hay variables ordinales ni missing values debido a que los datos con los que trabajamos ya están preprocesados en ese sentido.

In [25]:
print(type(disp_22))
print(disp_22.shape)

<class 'pandas.core.frame.DataFrame'>
(4380, 76)

In [33]:
disp_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4380 entries, 0 to 4379
Data columns (total 76 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   salida      4380 non-null   float64
 1   apcp_sf1_1  4380 non-null   int32
 2   apcp_sf2_1  4380 non-null   float64
 3   apcp_sf3_1  4380 non-null   float64
 4   apcp_sf4_1  4380 non-null   int32
 5   dlwrf_s1_1  4380 non-null   float64
 6   dlwrf_s4_1  4380 non-null   int32
 7   dlwrf_s5_1  4380 non-null   float64
 8   dswrf_s1_1  4380 non-null   int32
 9   dswrf_s2_1  4380 non-null   float64
 10  dswrf_s3_1  4380 non-null   int32
 11  dswrf_s4_1  4380 non-null   float64
 12  pres_ms1_1  4380 non-null   int32
 13  pres_ms2_1  4380 non-null   float64
 14  pres_ms3_1  4380 non-null   float64
 15  pres_ms5_1  4380 non-null   int32
 16  pwat_ea1_1  4380 non-null   int32
 17  pwat_ea2_1  4380 non-null   float64
 18  pwat_ea3_1  4380 non-null   int32
 19  pwat_ea5_1  4380 non-null   int32
 20  spfh_2m1_1  4380 non-null   float64
 21  spfh_2m2_1  4380 non-null   int32
 22  spfh_2m4_1  4380 non-null   int32
 23  tcdc_ea1_1  4380 non-null   int32
 24  tcdc_ea2_1  4380 non-null   int32
 25  tcdc_ea3_1  4380 non-null   int32
 26  tcdc_ea4_1  4380 non-null   int32
 27  tcdc_ea5_1  4380 non-null   float64
 28  tcolc_e1_1  4380 non-null   category
 29  tcolc_e2_1  4380 non-null   float64
 30  tcolc_e3_1  4380 non-null   int32
 31  tmax_2m1_1  4380 non-null   float64
 32  tmax_2m3_1  4380 non-null   float64
 33  tmax_2m4_1  4380 non-null   int32
 34  tmax_2m5_1  4380 non-null   float64
 35  tmin_2m1_1  4380 non-null   int32
 36  tmin_2m2_1  4380 non-null   int32
 37  tmin_2m3_1  4380 non-null   int32
 38  tmin_2m4_1  4380 non-null   int32
 39  tmin_2m5_1  4380 non-null   int32
 40  tmp_2m_1_1  4380 non-null   int32
 41  tmp_2m_4_1  4380 non-null   int32
 42  tmp_2m_5_1  4380 non-null   float64
 43  tmp_sfc2_1  4380 non-null   int32
 44  tmp_sfc3_1  4380 non-null   int32
 45  tmp_sfc4_1  4380 non-null   int32
 46  ulwrf_s1_1  4380 non-null   float64
 47  ulwrf_s2_1  4380 non-null   int32
 48  ulwrf_s3_1  4380 non-null   int32
 49  ulwrf_s5_1  4380 non-null   int32
 50  ulwrf_t1_1  4380 non-null   int32
 51  ulwrf_t2_1  4380 non-null   int32
 52  uswrf_s2_1  4380 non-null   int32
 53  uswrf_s3_1  4380 non-null   float64
 54  uswrf_s4_1  4380 non-null   int32
 55  uswrf_s5_1  4380 non-null   int32
 56  apcp_sf5_1  4380 non-null   float64
 57  dlwrf_s2_1  4380 non-null   float64
 58  dlwrf_s3_1  4380 non-null   float64
 59  pwat_ea4_1  4380 non-null   float64
 60  spfh_2m3_1  4380 non-null   float64
 61  spfh_2m5_1  4380 non-null   float64
 62  tcolc_e4_1  4380 non-null   float64
 63  tcolc_e5_1  4380 non-null   float64
 64  tmp_2m_2_1  4380 non-null   float64
 65  tmp_2m_3_1  4380 non-null   float64
 66  tmp_sfc1_1  4380 non-null   float64
 67  ulwrf_t3_1  4380 non-null   float64
 68  ulwrf_t4_1  4380 non-null   float64
 69  uswrf_s1_1  4380 non-null   float64
 70  dswrf_s5_1  4380 non-null   category
 71  pres_ms4_1  4380 non-null   category
 72  tmax_2m2_1  4380 non-null   category
 73  tmp_sfc5_1  4380 non-null   category
 74  ulwrf_s4_1  4380 non-null   category
 75  ulwrf_t5_1  4380 non-null   category
dtypes: category(7), float64(33), int32(36)
memory usage: 1.7 MB

Tenemos 7 variables categóricas, 33 de tipo float y 36 de tipo integer.

Ahora, procedemos a transformar las variables categóricas en numéricas a través de la creación de dummies,

In [93]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector as selector

categorical_features = ['dswrf_s5_1','pres_ms4_1','tmax_2m2_1','tmp_sfc5_1','ulwrf_s4_1','ulwrf_t5_1']

preprocessor = ColumnTransformer(
    transformers = [ 
                    ('categorical', OneHotEncoder(handle_unknown='ignore'),  selector(dtype_include=["category"]))
                    ],
                    remainder='passthrough' 
)

preprocessor.fit(disp_22)
disp = preprocessor.transform(disp_22)

print(f"Ahora la tabla tiene las siguientes dimensiones: {disp.shape}")
print()
print("Son 14 más que antes, pues se han añadido columnas dummies.")
print()

# Y la matriz tiene formato numpy, lo que nos permite trabajar con sklearn
print(type(disp))
print()


print(disp)

Ahora la tabla tiene las siguientes dimensiones: (4380, 153)

Son 14 más que antes, pues se han añadido columnas dummies.

<class 'numpy.ndarray'>

[[1.05417000e+07 1.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [4.64730000e+06 1.00000000e+00 1.09090907e-02 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [7.25640000e+06 1.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [1.12734000e+07 1.00000000e+00 0.00000000e+00 ... 1.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [9.36780000e+06 1.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [1.06167000e+07 1.00000000e+00 0.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]]

Una vez creadas las dummies podemos comprobar que ya no tenemos variables categóricas en nuestros datos

In [95]:
print(disp.dtype)
print()
print("Ya no hay variables categóricas")

float64

Ya no hay variables categóricas

Ahora creamos la matriz de predictores X y la variable salida y para el scikit-learn,

In [97]:

X = disp
y = disp_22["salida"].values

## Árbol de Regresión

In [98]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree

# División train/test
X_train = X[0:(6*365),:]
X_test = X[(6*365)+1:len(X),:]
y_train = y[0:(6*365)] 
y_test = y[(6*365)+1:len(y)]


# Para nuestro trabajo queremos un Árbol de Regresión. Por tanto:
arbol = tree.DecisionTreeRegressor()

np.random.seed(55) # Proporcionamos aleatoriedad a los datos

# Entrenamos el modelo
arbol.fit(X_train, y_train)

# Sacamos las predicciones en la muestra test
y_test_pred = arbol.predict(X_test)

# Y calculamos el error
mae_validation_tree = metrics.mean_absolute_error(y_test, y_test_pred)
print(f"Accuracy of the tree: {mae_validation_tree} ")

Accuracy of the tree: 24281.65189584285

## KNN

In [100]:
# Repetimos el proceso pero para knn

from sklearn import neighbors 
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

knn = neighbors.KNeighborsRegressor()

# Para knn es necesario estandarizar
scaling = StandardScaler()

# Creamos la pipeline
knn_ = Pipeline([('scaler', scaling), 
                ('knn', knn)])

np.random.seed(55) 

# Entrenamos el modelo
knn_.fit(X_train, y_train)

# Sacamos las predicciones en la muestra test
y_test_pred = knn_.predict(X_test)

# Y calculamos el error
mae_validation_knn = metrics.mean_absolute_error(y_test, y_test_pred)
print(f"Accuracy of the tree: {mae_validation_knn} ")

Accuracy of the tree: 2629173.0890817726

## RAE de ambos modelos

In [101]:
# Calculamos el RAE del árbol y del knn

# RAE del árbol:
mae_validation_dummy = np.mean(np.abs(y_test-y_train.mean()))

rae_validation_tree = mae_validation_tree / mae_validation_dummy

print(f"RAE del árbol: {rae_validation_tree}")

# RAE del knn:
mae_validation_dummy = np.mean(np.abs(y_test-y_train.mean()))

rae_validation_knn = mae_validation_knn / mae_validation_dummy

print(f"RAE del knn: {rae_validation_knn}")

RAE del árbol: 0.003491099205065895
RAE del knn: 0.378009870195259

Vemos como el error del árbol de regresión es mucho menor, por lo que lo consideramos mejor modelo de predicción el árbol que el knn.

## Comparación con los RAE en mlr

En nuestro caso, el RAE del knn sin ajuste de hiperparametros en mlr era  0.3737218, un RAE casi idéntico al que nos ha salido con skylearn. Por otro lado, el RAE del modelo rpart en mlr era 0.4012389, un error mucho mayor que el obtenido en este árbol de regresión.